body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    border: 2px solid powderblue;
    margin: 50px;
}
p {
    color: red;
    font-family: courier;
    font-size: 200%;
    padding: 30px;
}