:root {
    --main-color1: white;
    --main-color2: black;/*#A1D6B2;*/
    --accent-color1: #FFC105;/*rgb(236, 183, 148); #CEDF9F;*/
    --accent-color2: #e89e6d;
    --accent-color3: #a0a0a0;
    --text-color1: white;
    --text-color2: black;
}

@media (max-width: 200) {

}

* {
    color: var(--text-color2);
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
a.link {
    color: var(--accent-color2);
    font-family: Verdana, Tahoma, sans-serif;
}

.nav-left, .nav-right {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.nav-left {
    z-index: 3;
    justify-content: left;
}
.nav-right {
    z-index: 2;
    height: 60px;
    width: 100vw;
    justify-content: right;
}

#nav-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--main-color1);
}

nav img {
    padding-left: 18px;
}
nav a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
#home{
    font-size: 1.6rem;
    padding: 16px;
}
.nav-section {
    padding: 16px 32px;
    background-color: #ffffff56;
    border-radius: 5px;
    transition: background-color .2s;
}
.nav-section:hover {
    background-color: var(--accent-color1);
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 56px;
    width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--main-color1);
}

#landing-signature {
    position: relative;
    top: 60px;
    padding: 12px;
    text-align: right;
}
#landing-splash-left {
    position: absolute; 
    display: flex;
    align-items: center;
}
#landing-splash-right {
    position: absolute; 
    display: flex;
    align-items: center;
}

body {
    background-color: #ffffff00;
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin: 24px 24px 0px;
    padding-top: 6px;
}
h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 6px 36px;
}
h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 6px 24px;
}
p {
    margin: 6px 24px;
}
.page-break-small {
    margin: 40px;
}
.page-break-medium {
    margin: 100px;
}