/*color palette:
    #A1D6B2
    #CEDF9F
    #F1F3C2
    #E8B86D */

* {
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
a.link {
    color: darkblue;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100vw;
    text-align: right;
    align-items: center;
    background-color: #CEDF9F;
}
nav a {
    text-decoration: none;
    padding: 20px 32px;
}
nav a:hover {
    background-color: #E8B86D;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-label {
    padding: 20px 32px;
    background-color: #CEDF9F;
    border: none;
    outline: none;
}
.dropdown:hover .dropdown-label {
    background-color: #E8B86D;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #F1F3C2;
}
.dropdown-content a{
    text-decoration: none;
    display: block;
}

body {
    background-color: #A1D6B2;
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin: 60px 24px 0px;
    padding-top: 6px;
}
h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 6px 36px;
}
h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 6px 24px;
}
p {
    font-size: 1.1rem;
    margin: 6px 24px;
}
.page-break-small {
    margin: 40px;
}
.page-break-medium {
    margin: 100px;
}